<%- include('partials/header') -%>

  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
    </div>
    <div class="flex-none p-3">
      <div class="dropdown dropdown-end px-8">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <span class="badge badge-sm indicator-item">8</span>
          </div>
        </label>
        <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
          <div class="card-body">
            <span class="font-bold text-lg">8 Items</span>
            <span class="text-info">Subtotal: $999</span>
            <div class="card-actions">
              <button class="btn btn-primary btn-block">View cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="inventory-container flex flex-wrap justify-around">

    <% for(var i=0; i<inventory.length; i++) {%>
      <div class="card w-96 bg-base-100 shadow-xl m-8 basis-1/4">
        <figure>
          <a href="/inventory/inventoryItem/<%= inventory[i]._id%>">
            <img class="object-fill w-96 h-48" src="<%= inventory[i].image%>" />
          </a>
        
        </figure>

        <div class="card-body">
          <h2 class="card-title">
            Shoes!
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <span> <%= inventory.price %></span>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          
          <div class="card-actions justify-end">

            <div class="counter_conatiner">
              <i id="add" class="fa-solid fa-cart-plus"></i>
              <span id="output">0</span>
              <i id="subtract" class="fa-solid fa-minus"></i>
            </div>

            <div class="badge badge-outline">Fashion</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>
      <% } %>
  </div>




  <%- include('partials/footer') -%>
  <script src="/adjustCart.js"></script>