<%- include('partials/header') -%>
  <%- include('partials/feedHeader') -%>

    <div class="inventory-container flex flex-wrap justify-around shop-item">
      <% for(var i=0; i<inventory.length; i++) {%>
        <div class="card w-96 bg-base-100 shadow-xl m-8 basis-1/4 shop-item-id">
         
          <div class="card-body shop-item">
            <figure>
              <a href="/inventory/inventoryItem/<%= inventory[i]._id%>">
                <img class="object-fill w-96 h-48 shop-item-image" src="<%= inventory[i].image%>" />
              </a>
            </figure>
            <h2 class="card-title shop-item-title">
              <%= inventory[i].title %>
                <!-- <div class="badge badge-secondary">NEW</div> -->
            </h2>
            <span class="shop-item-price">
              <%= inventory[i].price %> 
            </span>
            <p>
              <%= inventory[i].caption %>
            </p>
            <button class="btn btn-active shop-item-button">Add to cart</button>
            <div class="card-actions justify-end">
              <!-- <div class="badge badge-outline">Fashion</div>
              <div class="badge badge-outline">Products</div> -->
            </div>
          </div>
        </div>

        
        <% } %>
    </div>




    <%- include('partials/footer') -%>