<%- include('partials/header') -%>

<div class="container inventory-item-container">
  <div class="row gx-5 justify-content-center">

    <div class="col-md-6 product-visual">
      <button>Continue Shopping</button>
        <img class="img-fluid" src="<%= inventory.image%>" />

    </div>

    <div class="col-md-6 product-details" >
      <h1 class="product-logo-name"> Class Buddy</h1>
        <h2>
          <%= inventory.title %>
        </h2>
        <p>
          <%= inventory.caption %>
        </p>
        <div class="update-buttons">
          <form class="col-1" action="/inventory/likeInventory/<%= inventory.id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h3 class="col-3">Likes: <%= inventory.likes %>
          </h3>
          <%if(inventory.user==user.id){ %>
            <form action="/inventory/deleteInventoryItem/<%= inventory.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
        </div>
        <h4>20</h4>
        <button>+1</button>
        <button>Add to cart</button>

    </div>

  </div>

</div>

<div class="col-6 mt-5 profile-feed-button" >
  <a class="btn btn-primary" href="/profile">Return to Profile</a>
  <a class="btn btn-primary" href="/feed">Return to Feed</a>
</div>



<%- include('partials/footer') -%>